body {
	background-color:black;
	color:white;
	text-align:center;
	font-family:arial, sans-serif;
	font-size:large;
}

a {
	color:yellow;
}

table {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

input [type="text"] {
	position:bottom;
}

.button{
	height:50px;
	width:100px;
	font-size:medium;
}

.shelf {
	height:20px;
	width:350px;
	margin-top:-5px;
}

.purse {
	text-align:left;
}

.credits {
	text-align:justify;
	margin-left:400px;
	margin-right:400px;
}

.instructions {
	text-align:justify;
	float:left;
	margin-right:-400px;
}

.storeitemtext {
	text-align:right;
	font-size:large;	
}

.storeitem {
	vertical-align:middle;
	float:right;
}

.cave {
	background-image:url('images/cavewall.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

.hermit {
	float:right;
	
}